*.env
*.tfvars

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
*.tfplan
backend-config.tfbackend

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swoterraform/tfplan
backend-logs/
*.log
*.zip
